@use "./variables.sass" as *
@use "./mixins.sass" as *

@font-face
  font-family: "PT Root UI"
  src: url("/fonts/pt-root-ui_light.woff2") format("woff2")
  font-weight: 300
  font-style: normal

@font-face
  font-family: "PT Root UI"
  src: url("/fonts/pt-root-ui_regular.woff2") format("woff2")
  font-weight: 400
  font-style: normal

@font-face
  font-family: "PT Root UI"
  src: url("/fonts/pt-root-ui_medium.woff2") format("woff2")
  font-weight: 500
  font-style: normal

@font-face
  font-family: "PT Root UI"
  src: url("/fonts/pt-root-ui_bold.woff2") format("woff2")
  font-weight: 700
  font-style: normal

html 
  box-sizing: border-box;

*, *::before, *::after 
  box-sizing: inherit;

button, input, select, textarea
  font: inherit

body
  font-family: "PT Root UI", sans-serif
  font-weight: 400
  font-size: 16px;

.main
  display: flex;
  flex-direction: row;
  margin-inline: auto;
  max-width: 100%;
  padding: 24px 28px;
  gap: 12px;

  @include sm-up 
    max-width: $sm;
    padding: 48px 54px;
    gap: 28px;

  @include md-up 
    max-width: $md;
    padding: 96px 80px;
    gap: 80px;

.column 
  display: flex;
  flex-direction: column;
  align-items: flex-start;

.row 
  display: flex;
  flex-direction: row;

.gutter 
  gap: 12px
  @include sm-up
    gap: 24px
  @include md-up
    gap: 48px

h1
  font-size: 54px;
  margin: 0;

.round
  border-radius: 50%
.rounded
  border-radius: 25px

.more-btn
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 8px 24px;
  background-color: #fff;
  border: 1px solid rgba(11, 23, 57, 0.2)


.btn-up
  position: fixed
  right: 32px
  bottom: 32px
  width: 40px
  height: 40px
  background: $brand-gradient
  background-position: -50% 50%
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  border: none
  outline: none

  &:hover
    box-shadow: 0 0 5px $brand-color
    filter: brightness(1.05) 

  &:active
    transform: scale(0.95)



.fade-enter-active, .fade-leave-active
  transition: opacity 0.3s ease

.fade-enter-from, .fade-leave-to
  opacity: 0