@use "./variables.sass" as *
@use "./mixins.sass" as *

// подключение шрифтов
@font-face
  font-family: "PT Root UI"
  src: url("/fonts/pt-root-ui_light.woff2") format("woff2")
  font-weight: 300
  font-style: normal

@font-face
  font-family: "PT Root UI"
  src: url("/fonts/pt-root-ui_regular.woff2") format("woff2")
  font-weight: 400
  font-style: normal

@font-face
  font-family: "PT Root UI"
  src: url("/fonts/pt-root-ui_medium.woff2") format("woff2")
  font-weight: 500
  font-style: normal

@font-face
  font-family: "PT Root UI"
  src: url("/fonts/pt-root-ui_bold.woff2") format("woff2")
  font-weight: 700
  font-style: normal

:root
  --slider-handle-bg: #3EB57C
  --slider-handle-shadow: none
  --slider-handle-border: 0;
  --slider-connect-bg: #3EB57C;

// основные стили
html 
  box-sizing: border-box;

*, *::before, *::after 
  box-sizing: inherit;

button, input, select, textarea
  font: inherit

body
  font-family: "PT Root UI", sans-serif
  font-weight: 400
  font-size: 16px;

.main
  display: flex;
  flex-direction: row;
  margin-inline: auto;
  max-width: 100%;
  padding: 24px 28px;
  gap: 12px;

  @include sm-up 
    max-width: $sm;
    padding: 48px 54px;
    gap: 28px;

  @include md-up 
    max-width: $md;
    padding: 96px 80px;
    gap: 80px;

.column 
  display: flex;
  flex-direction: column;
  align-items: flex-start;

.row 
  display: flex;
  flex-direction: row;

.gutter-md
  gap: 12px
  @include sm-up
    gap: 24px
  @include md-up
    gap: 48px

.gutter-sm
  gap: 16px

.is-hidden-md
  @include md-up
    display: none

h1
  font-size: 54px;
  margin: 0;

.p3 
  font-size: 14px

// таблица
.flats-table
  display: flex
  flex-direction: column
  width: 506px;
  gap: 4px;

  @include md-up
    width: 801px
    gap: 1px

.table-header
  text-align: left;
  padding: 8px 0;

  @include md-up
    padding: 0 0 16px 0;
    border-bottom: 1px solid rgba(11, 23, 57, 0.2)

.table-header .row
  gap: 20px;
  align-items: end;

.table-body
  display: flex
  flex-direction: column
  text-align: left;
  align-content: flex-start;
  gap: 4px;

  @include md-up
    gap: 1px;

.table-body .row
  gap: 20px;
  padding: 16px 24px
  border-radius: 8px
  border: 1px solid rgba(11, 23, 57, 0.2)
  justify-content: space-between

  @include md-up
    padding: 16px 0 24px 0
    border-radius: 0
    border: 0
    border-bottom: 1px solid rgba(11, 23, 57, 0.2)

.text-block
  display: flex
  flex-direction: column
  gap: 20px
  @include md-up
    flex-direction: row

.plan-col
  width: 80px;
  order: 0
  @include md-up
    order: -1

.table-header .plan-col, .table-header .flat-col
  display: none
  @include md-up
    display: block

.flat-col
  width: 281px;

.table-header .table-col
  width: fit-content
  @include md-up
    width: 120px

.table-body .table-col
  display: flex;
  gap: 20px;
  align-items: end;
  @include md-up
    align-items: start;

.table-col span
  width: fit-content
  @include md-up
    width: 120px

.plan-img
  width: 80px
  height: 80px
  object-fit: contain
  object-position: center
  display: block

// кнопки
.round
  border-radius: 50%
.rounded
  border-radius: 25px

.more-btn
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 8px 24px;
  background-color: #fff;
  border: 1px solid rgba(11, 23, 57, 0.2)
  &:hover
    background-color: #f5f5f5;
    border: 1px solid rgba(11, 23, 57, 0.5)
  &:active
    transform: scale(0.95)

.btn-up
  position: fixed
  right: 32px
  bottom: 32px
  width: 40px
  height: 40px
  background: $brand-gradient
  background-position: -50% 50%
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  border: none
  outline: none

  &:hover
    box-shadow: 0 0 5px $brand-color
    filter: brightness(1.05) 

  &:active
    transform: scale(0.95)

.fade-enter-active, .fade-leave-active
  transition: opacity 0.3s ease

.fade-enter-from, .fade-leave-to
  opacity: 0

.fltr-btns
  gap: 16px;

.fltr-btn
  padding: 10px 12px
  border: none
  background-color: white
  height: 44px
  width: 44px

  &:hover
    background-color: $brand-color-dark
    box-shadow: 0 6px 20px $brand-color
    color: white

  &:active
    transform: scale(0.95)

//фильтр
.filter-panel
  background: $brand-gradient
  background-position: -50% 50%
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  padding: 20px
  border-radius: 10px
  gap: 24px
  
  @include md-up
    padding: 40px

.fltr-sec
  gap: 8px
  width: 280px
  @include md-up
    width: 319px

.slider-text
  display: flex
  width: 100%
  justify-content: space-between
  margin-bottom: 8px;

.slider-text p
  display: flex
  align-items: flex-end;
  gap: 8px
  margin: 0

.slider-horizontal
  width: 100%

.clear-btn-row
  padding: 5px 16px 7px 16px

.clear-btn
  gap: 8px
  background: none;
  border: none

  &:hover
    transform: scale(1.05)

  &:active
    transform: scale(0.99)