$brand-color: #97D1A2
$brand-color-dark: #3EB57C
$brand-color-light: #E0F1E3

$brand-gradient: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0%, rgba(149, 208, 161, 0.3) 100%) no-repeat

$sm: 960px
$md: 1440px